*{
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
header{
    background-color: #111827;
    padding: 15px;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 4fr 1.3fr;
}
header > a {
    color: #fff;
    align-self: center;
}
header > h1{
    justify-self: center;
}
.headerButtons {
    color: #fff;
    justify-self: center;
}
.headerButtons > button{
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px 15px;
    background-color: #e5e7eb;
    border: 0px;
    color: #000;
}
.headerButtons > button:hover{
    cursor: pointer;
    background-color: #9ca3af;
    color: #fff;
    font-weight: bold;
}

.hero{
    margin: 15px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.info{
    text-align: center;
    padding:  5px;
    margin: 15px 0px;
    border-bottom: 1px solid black;
}
#nextplayer{
    font-weight: bold;
    font-size: 1.2rem;
}
.box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    /* border: 1px solid black; */
}
.field{
    background-color: #f5f5f4;
    border: .3px solid black;
    margin: .3px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    font-size: 8rem;
}
.field:hover{
    background-color: #e5e5e5;
    cursor: pointer;
}

@media screen and (max-width:  1420px) {
    .hero{
        grid-template-columns: 1fr 500px 1fr;
        background-color: #bada55;
    }
}
@media screen and (max-width:  820px) {
    .hero{
        grid-template-columns: 1fr 300px 1fr;
        background-color: #f77b08;
    }
    .box{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: 300px;
        height: 300px;
        /* border: 1px solid black; */
    }
}